#fieldset_field,
#fieldset_inventory {
  float:left;
}

#fieldset_field,
#fieldset_inventory{
  display: inline-block;
}

#field {
  width: 480px;
}

.crop:hover {
  cursor:default;
  background-color: lightgreen;
}

.crop {
  width: 22px;
  height: 22px;
  display: block;
  float:left;
  border: 1px solid black;
  text-align: center;
}

#inventory_content {
  list-style-type: none;
  padding: 0px;
}

#inventory_content li:hover {
  background-color: lightgreen;
  cursor:default;
}

#inventory_content .selected {
  border: 1px solid black;
}

/*
.action_button:hover {
  cursor:default;
}

.action_button {
  float: left;
  border: 1px solid black;
  margin-left: 5px;
  height: 20px;
  width: 100px;
  text-align: center;
}*/